
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 1px;
}

* {
	box-sizing: border-box;
	transition: .25s all ease;
}

.login-container {
	display: block;
	position: relative;
	z-index: 0;
	margin: 4rem auto 0;
    padding: 5rem 4rem 0 4rem;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	background-image: url(https://g.foolcdn.com/editorial/images/655498/bull-vs-bear-getty.jpg);
	background-size: stretch;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.85);
}

.login-container:after {
	background: transparent;
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(ellipse at left bottom, rgba(22, 47, 28, 0.659) 0%,rgba(104, 159, 101, 0.368) 59%, rgba(91, 190, 55, 0.281) 100%);
	box-shadow: 0 -20px 150px -20px rgba(0, 5, 0, 0);
}

.form-login {
	position: relative;
	z-index: 1;
    padding-bottom: 4.5rem;
    border-bottom: 1px solid rgba(49, 109, 28, 0.742);
}

.login-nav {
	position: relative;
	padding: 0;
	margin: 0 0 6em 1rem;
}

.login-nav__item {
	list-style: none;
	display: flex;
	justify-content: center;
	background: transparent;
}

.login-nav__item + .login-nav__item {
	margin-left: 2.25rem;
}

.login-nav__item a {
	position:fixed;
	color: rgba(176, 14, 14, 0.754);
	text-decoration:dashed;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 50px;
	padding-bottom: .5rem;
	transition: .20s all ease;
}

.login-nav__item.active a,
.login-nav__item a:hover{
	color: #db1414c4;
	transition: .15s all ease;
}

.login-nav__item a:after {
	content: '';
  display: inline-block;
  height: 10px;
  background-color: rgb(219, 21, 21);
  position: absolute;
  right: 100%;
  bottom: -1px;
  left: 0;
  border-radius: 50%;
  transition: .15s all ease;
}

/* .login-nav__item a:hover:after,
.login-nav__item.active a:after{
	background-color: rgb(237, 94, 17);
	height: 2px;
	right: 0;
	bottom: 2px;
	border-radius: 0;
	transition: .20s all ease;
} */
.login__label {
	display: block;
	padding-left: 1rem;
}

.login__label {
	color: rgba(7, 1, 1, 0.903);
	background-color: rgba(223, 201, 201, 0.252);
	text-transform: uppercase;
	font-size: 1.00rem;
	margin-bottom: 1rem;
}

.login__label--checkbox {
	display: inline-block;
	position: relative;
	padding-left: 1.5rem;
	margin-top: 2rem;
	margin-left: 1rem;
	color: #ffffff;
	font-size: .75rem;
	text-transform: inherit;
}

.login__input {
	color: white;
	font-size: 1.15rem;
	width: 100%;
	padding: .5rem 1rem;
	border: 2px solid transparent;
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.144);
	letter-spacing: 1px;
}

.login__input:hover,
.login__input:focus{
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}

.login__input + .login__label {
	margin-top: 1.5rem;
}

.login__input--checkbox {
	position: absolute;
	top: .1rem;
	left: 0;
	margin: 0;
}


.login__forgot {
	display: block;
	margin-top: 3rem;
	text-align: center;
	color: rgb(9, 0, 0);
	font-size: .75rem;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

.login__forgot:hover {
	color: rgba(10, 0, 0, 0.889);
}