  .login-box {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.902);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.846);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .money{
    color: rgba(16, 241, 46, 0.795);
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    border: 2cm;
    background-color: rgba(0, 0, 0, 0.902);
  }

