{% extends 'base.html' %}

{%block content%}
    
    <div class="flex-container2">

        <!-- Frist container For text and picture -->
        <div class="grid-container">
            
            <!-- First Half -->
            
            <div class="grid-image">
            <img src="images/stock1.webp" height="100%" width="100%">
            </div>
            
            <!-- Second Half -->
            
            <div class="grid-text">
                <h2>Welcome to Bear and Bull Portfolio Manager</h2>
                <p>Track the world of trading options, stock and crypto and experience 
                    keeping track of your investment with Bear and Bull Manager.</p>
                <p>Bear and Bull Manager makes it easy for investors to track day trades, 
                    swing trades, options trades, stocks trades and crytop trades.
                </p>                  
            </div>
        </div>
    </div>
     


{%endblock content%}