{% extends 'base.html' %}

{%block content%}
    
    <div class="flex-container2">
        <div class="grid-container">
            <div class="grid-image">
                <img src="{{url_for('static', filename= 'images/stock1.webp')}}" height="100%" width="100%"/>
            </div>
            <div class="grid-text">
                <h2>Welcome to Bear and Bull Portfolio Manager</h2>
                <p>Track the world of trading options, stock and crypto and experience 
                    keeping track of your investment with Bear and Bull Manager.</p>
                <p>Bear and Bull Manager makes it easy for investors to track day trades, 
                    swing trades, options trades, stocks trades and crytop trades.
                </p>                  
            </div>
        </div>
    </div>

    <div class="flex-container3">
        <div class="grid-container3">
            <div class="grid-image3">
                <img src="{{url_for('static', filename= 'images/me.jpg')}}" height="100%" width="100%"/>
            </div>
            <div class="grid-text3">
                <h2>Keyur Patel</h2>
                <p>I m Keyur Patel currently enrolled with Coding Temple. Before the bootcamp 
                    I was an active trader. I mainly taken upon option trading with day trade strategies
                    I am currently also working on a algorithm which can help with  day trades which gives 3 price targets, 
                    a stop loss with buy and sell signals.</p>
                    <p>My idea behind creating this portfolio manager is to help beginners keep track
                        of their investments and give them an accurate results on whats their profit or loss
                        of the day and not have to bounce from one app to the other to find their total of the day. 
                    </p> 
            </div>
        </div>
    </div>
     


{%endblock content%}