{% extends 'base.html' %}

{%block content%}
    
    <div class="flex-container2">
        <div class="grid-container">
            <div class="grid-image">
                <img src="{{url_for('static', filename= 'images/stock1.webp')}}" height="100%" width="100%"/>
            </div>
            <div class="grid-text">
                <h2>Welcome to Bear and Bull Portfolio Manager</h2>
                <p>Track the world of trading options, stock and crypto and experience 
                    keeping track of your investment with Bear and Bull Manager.</p>
                <p>Bear and Bull Manager makes it easy for investors to track day trades, 
                    swing trades, options trades, stocks trades and crytop trades.
                </p>                  
            </div>
        </div>
    </div>

    <div class="news">
        <br>
        <h2 class="text-center">Live News</h2>
        <div class="flex-container2 d-flex justify-content-center">
    
            <iframe width="902" height="507" src="https://www.youtube.com/embed/1jfRZYJK2Xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    

    <!-- <div class="grid2x2">
        <div class="box box1">
            <div>
                <a href="https://robinhood.com/signup" class="button1">Robinhood</a>
            </div>
        </div>
        <div class="box box2">
            <div>
                <a href="https://start.tastyworks.com/index.html?_sp=fc08bf87-1f08-47e4-b45c-85b4acc60d55.1650932449040#/login" class="button2">Tastyworks</a>
            </div>
        </div>
        <div class="box box4">
            <div>
                <a href="https://passport.webull.com/auth/simple/signup?hl=en&os=web_pc&source=seo-direct-home&redirect_uri=https%3A%2F%2Fwww.webull.com%2Fcenter" class="button4">Webull</a>
            </div>
        </div>
        <div class="box box3">
            <div>           
                <a href="https://start.tdameritrade.com/select?entity=103" class="button3">TD-Ameritrade</a>
            </div>
        </div>
      </div> border border-dark bg-dark rounded text-warning text-center -->
    <div class="pltatform ">
        <br>
        <h3 class="flex-container2 text-center">Recommended Trading Platforms: </h3>
        <div class="grid2x2">
            <div class="box box1">
                <div>
                    <a href="https://robinhood.com/signup" target="_blank" rel="noopener noreferrer" class="button1"><img src="{{url_for('static', filename= 'images/robinhood.jpeg')}}" height="100%" width="100%"/></a>
                </div>
            </div>
    
            <div class="box box2">
                <div>
                    <a href="https://start.tastyworks.com/index.html?_sp=fc08bf87-1f08-47e4-b45c-85b4acc60d55.1650932449040#/login" target="_blank" rel="noopener noreferrer" class="button2"><img src="https://images.contentstack.io/v3/assets/blt40263f25ec36953f/blt611ccb0861373a7c/601864abf13a6d4c0c255882/tasty-fallback-horizontal.jpg?width=1200&height=628&disable=upscale&fit=bounds" height="100%" width="100%"/></a>
                </div>
            </div>
    
            <div class="box box4">
                <div>           
                    <a href="https://start.tdameritrade.com/select?entity=103" target="_blank" rel="noopener noreferrer" class="button3"><img src="{{url_for('static', filename= 'images/TD-Ameritrade.jpeg')}}" height="100%" width="100%"/></a>
                </div>
            </div>
    
            <div class="box box3">
                <div>
                    <a href="https://passport.webull.com/auth/simple/signup?hl=en&os=web_pc&source=seo-direct-home&redirect_uri=https%3A%2F%2Fwww.webull.com%2Fcenter" target="_blank" rel="noopener noreferrer" class="button4"><img src="{{url_for('static', filename= 'images/webull.png')}}" height="100%" width="100%"/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container3">
        <div class="grid-container3">
            <div class="grid-image3">
                <img src="{{url_for('static', filename= 'images/me.jpg')}}" height="100%" width="100%"/>
            </div>
            <div class="grid-text3">
                <h2>Keyur Patel</h2>
                <br>
                <p>I m Keyur Patel currently enrolled with Coding Temple. Before the bootcamp 
                    I was an active trader. I mainly taken upon option trading with day trade strategies
                    I am currently also working on a algorithm which can help with  day trades which gives 3 price targets, 
                    a stop loss with buy and sell signals.</p>
                    <br>
                    <p>My idea behind creating this portfolio manager is to help beginners keep track
                        of their investments and give them an accurate results on whats their profit or loss
                        of the day and not have to bounce from one app to the other to find their total of the day. 
                    </p> 
            </div>
        </div>
    </div>
     
    <footer>
        <hr>
        <div>
            &copy Keyur 2022
        </div>
    </footer>


{%endblock content%}